{% extends "socialaccount/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock %}

{% block fullpage %}
    
<h1></h1>





<div class="row">
    <div class="col-md-4 col-md-offset-4">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Login Cancelled" %}</h3>
                </div>
                <div class="panel-body">
                    {% url 'account_login' as login_url %}
                   <div class="alert alert-danger" role="alert"> <p>{% blocktrans %}You decided to cancel logging in to our site using one of your existing accounts. If this was a mistake, please proceed to <a href="{{login_url}}">sign in</a>.{% endblocktrans %}</p>
</div>

                </div>

            </div>


    </div>
</div>


{% endblock %}

