{% extends "account/base.html" %}

{% load i18n %}

{% block meta_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block fullpage %}

<div class="row">


     <div class="col-md-6 col-md-offset-3">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{% trans "Verify Your E-mail Address" %}</h3>
          </div>
          <div class="panel-body">
              <div class="alert alert-success" role="alert">

                  {% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup
                process. Please <a href="/contact-us" class="alert-link">contact us</a> if you do not receive it within a few minutes.{% endblocktrans %}

              </div>


          </div>
        </div>

      </div>

</div>


{% endblock %}
