
{% if local_account or provider_list %}
<script>
    $('#id_email').prop('disabled', true);
</script>
{% endif %}

{% if local_account %}
    <p>An OnlineTeachers.co.in account already exists with the email ID {{ user_email }}.
        Please <a href="{% url 'account_login' %}">login</a> with this email ID. If you have forgotten the password, use
        <a href="{% url 'account_reset_password' %}">reset password</a> option to recover password.
    </p>
{% endif %}


{% if provider_list %}
<p>There is a social account registered at myCBSEguide.com with the email ID {{ user_email }}. Please use below option to
login to myCBSEguide.com</p>


{% endif %}
<ul>

{% for provider in provider_list %}

    {% ifequal provider "facebook" %}
       <li>
                    <a class="btn btn-block btn-social btn-facebook" href="/accounts/facebook/login/?process=login">
                        <i class="fa fa-facebook"></i> Sign in with Facebook
                    </a>
                </li>

    {% endifequal %}
    {% ifequal provider "google" %}
<li>
                     <a class="btn btn-block btn-social btn-google-plus" href="/accounts/google/login/?process=login">
                        <i class="fa fa-google-plus"></i> Sign in with Google
                     </a>
                </li>

    {% endifequal %}
    {% ifequal provider "twitter" %}
<li>
                   <a class="btn btn-block btn-social btn-twitter" href="/accounts/twitter/login/?process=login">
                        <i class="fa fa-twitter"></i> Sign in with Twitter
                   </a>
                </li>
    {% endifequal %}

{% endfor %}
</ul>
{% if local_account or provider_list %}
 <p> <a href="/contactus">Contact us</a> if you are still facing issues with login.</p>
{% endif %}
